{% extends "layout.html" %}
{% block body %}
    {# https://imgur.com/a/8PP3C #}
    <div class="img">
        <img src="static/img/pacman-welcome.gif" id="pacmananim"/>
    </div>
    <h2>Welcome to da party!</h2>
        <p class="bs-component">
            <a href="{{ url_for('oldstylemap') }}" class="btn btn-primary btn-lg">Retro Leaflet</a>
            <a href="{{ url_for('newstylemap') }}" class="btn btn-primary btn-lg">Fancy Vue</a>
        </p>
    {% if 'username' in session %}
        <p class="bs-component">
            <a href="{{ url_for('logout') }}" class="btn btn-default btn-lg">Logout</a>
        </p>
    {% endif %}
    <script>
        var url = 'https://api.pokehuntr.com/';
        console.log('hello from whateverorigin');
        $.getJSON(
            'http://whateverorigin.org/get?url=' + encodeURIComponent(url+'authorise') + '&callback=?',
            function(data){
                alert(data.contents);
            }
        );

        $.ajax({
            url: s + "authorise",
            type: "GET",
            crossDomain: !0,
            data: {
                latitude: 50.963832747575786,
                longitude: 3.7188720703125004,
                hashCheck: "e48a2c0250e01634e07ce615a60c0889"
            },
            xhrFields: {
                withCredentials: !0
            }
        }).success(function() {
            $.ajax({
                url: s + "geo/gym",
                type: "GET",
                crossDomain: !0,
                data: {
                    latitude: 50.963832747575786,
                    longitude: 3.7188720703125004
                },
                xhrFields: {
                    withCredentials: !0
                }
            }).success(function() {
                d()
            })
        })

    </script>
{% endblock %}