{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}

<div class="well bs-component">
  <form class="form-horizontal" action="login" method="post">
    <fieldset>
      <legend>Pick a name and party on!</legend>
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
          <input type="text" name="username" class="form-control" id="inputName" placeholder="HungryMelon" value="">
        </div>
      </div>
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Party</label>
        <div class="col-lg-10">
          <input type="text" name="party" class="form-control" id="partyName" placeholder="Global" value="">
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <button type="submit" class="btn btn-success" name="color" value="green">Join Green</button>
          <button type="submit" class="btn btn-primary" name="color" value="blue">Join Blue</button>
          <button type="submit" class="btn btn-danger" name="color" value="red">Join Red</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>
{% endblock %}
