<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Pacman Party Map</title>

    <!-- get Leaflet, the map library -->
    <!-- link rel="stylesheet" href="static/css/leaflet.css" /-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css">
    <!-- script src="static/js/leaflet.js"></script>
    
    <!-- get Leaflet easy buttons -->
    <link rel="stylesheet" href="static/css/easy-button.css">

    <!-- get Leaflet awesome markers -->
    <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">

{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.css" />#}
    <link href='static/css/leaflet.fullscreen.css' rel='stylesheet' />

    <!-- pokemon fantasy -->
    <link rel="stylesheet" id="mystyle" href="static/css/sprites.css">

    <script>
        var flaskData = {{ flaskData|tojson|safe }};
    </script>
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html, body {
            height: 100%;
        }
        #map {
            height: 90%;
        }
        #gui {
            height: 15%;
        }
        #help {
            height: 80%;
        }
    </style>
</head>
<body>
    <div id="map"></div>
    <div id="gui"></div>
    <div id="help"></div>

    <!-- icons -->
    <script src="https://use.fontawesome.com/697ebb27cd.js"></script>
    <!-- socketIO for server interaction -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <!-- leaflet maps with several plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.fullscreen/1.4.2/Control.FullScreen.min.js"></script>#}
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <script src="static/js/vendor/easy-button.js"></script>
    <script src="static/js/vendor/leaflet.extra-markers.min.js"></script>
    <script src="static/js/vendor/leaflet-animated-marker.js"></script>

    <!-- audio fixes for mobile -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.2/howler.core.min.js"></script>
    <!-- jquery helps with ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-color/2.1.2/jquery.color.min.js"></script>
    <!-- custom code -->
    <script src="static/js/classic/app.js"></script>
{% if admin %}
    <script src="static/js/classic/admin.js"></script>
{% else %}
    <script src="static/js/classic/client.js"></script>
{% endif %}
</body>
</html>
