<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pacman Party</title>
  <!-- Bootstrap -->
  <link href="https://bootswatch.com/cyborg/bootstrap.min.css" rel="stylesheet">
  <!-- Mapbox -->
  <link href="https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.css" rel="stylesheet" />
  <!-- App styles -->
  <link href="/static/css/style.css" rel="stylesheet"/>
  <link href="/static/dist/client.css" rel="stylesheet"/>
</head>

<body>
  <div id="app">
    <div ></div>
  </div>

  <footer class="footer">
    <div class="container">
      <p class="text-muted">PAC-MAN&reg; &amp; &copy; 1980 BANDAI NAMCO Entertainment Inc.
        <br> This site is not affiliated with BANDAI NAMCO. It is just a fan site.</p>
    </div>
  </footer>

  <script src="https://api.mapbox.com/mapbox-gl-js/v0.28.0/mapbox-gl.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <!-- If developing -->
  <script src="http://localhost:8080/client.js"></script>

  <!-- If production -->
  <!-- <script src="/static/dist/client.js"></script> -->
</body>

</html>
