Flask==0.10.1
Flask-SocketIO==2.7.1
Flask-WTF==0.13.1
Jinja2==2.10
MarkupSafe==0.23
Shapely==1.5.17
WTForms==2.1
Werkzeug==0.11.11
argparse==1.2.1
eventlet==0.19.0
flask-mongoengine==0.8
git+https://github.com/stefaang/gunicorn.git@master#egg=gunicorn
itsdangerous==0.24
mongoengine==0.10.6
pymongo==3.3.1
python-engineio==1.0.3
python-socketio==1.6.0
redis==2.10.5
six==1.10.0
wsgiref==0.1.2
greenlet
celery
blinker==1.4
