Flask==0.10.1
Jinja2==2.8
MarkupSafe==0.23
Werkzeug==0.11.11
argparse==1.2.1
itsdangerous==0.24
wsgiref==0.1.2

psycopg2==2.6.1
#flask-sqlalchemy==2.1
#flask-migrate==1.8.0
#geoalchemy2==0.3
flask-mongoengine
shapely==1.5.17

eventlet
flask-socketio==2.7.1
redis
gunicorn==18.0