/*.pok001, .pok002, .pok003, .pok004, .pok005, .pok006, .pok007, .pok008, .pok009, .pok010, */
/*.pok011, .pok012, .pok013, .pok014, .pok015, .pok016, .pok017, .pok018, .pok019, .pok020, */
/*.pok021, .pok022, .pok023, .pok024, .pok025, .pok026, .pok027, .pok028, .pok029, .pok030, */
/*.pok031, .pok032, .pok033, .pok034, .pok035, .pok036, .pok037, .pok038, .pok039, .pok040, */
/*.pok041, .pok042, .pok043, .pok044, .pok045, .pok046, .pok047, .pok048, .pok049, .pok050, */
/*.pok051, .pok052, .pok053, .pok054, .pok055, .pok056, .pok057, .pok058, .pok059, .pok060, */
/*.pok061, .pok062, .pok063, .pok064, .pok065, .pok066, .pok067, .pok068, .pok069, .pok070, */
/*.pok071, .pok072, .pok073, .pok074, .pok075, .pok076, .pok077, .pok078, .pok079, .pok080, */
/*.pok081, .pok082, .pok083, .pok084, .pok085, .pok086, .pok087, .pok088, .pok089, .pok090, */
/*.pok091, .pok092, .pok093, .pok094, .pok095, .pok096, .pok097, .pok098, .pok099, .pok100, */
/*.pok101, .pok102, .pok103, .pok104, .pok105, .pok106, .pok107, .pok108, .pok109, .pok110, */
/*.pok111, .pok112, .pok113, .pok114, .pok115, .pok116, .pok117, .pok118, .pok119, .pok120, */
/*.pok121, .pok122, .pok123, .pok124, .pok125, .pok126, .pok127, .pok128, .pok129, .pok130, */
/*.pok131, .pok132, .pok133, .pok134, .pok135, .pok136, .pok137, .pok138, .pok139, .pok140, */
/*.pok141, .pok142, .pok143, .pok144, .pok145, .pok146, .pok147, .pok148, .pok149, .pok150, */
/*.pok151, .pok152, .pok153, .pok154, .pok155, .pok156, .pok157, .pok158, .pok159, .pok160, */
/*.pok161, .pok162, .pok163, .pok164, .pok165, .pok166, .pok167, .pok168, .pok169 {*/
    /*width: 80px;*/
    /*height: 80px;*/
    /*background-image: url('images/pokesprites.png');*/
    /*-webkit-filter: drop-shadow(8px 8px 6px rgba(0,0,0,0.5)) blur(6px);*/
	/*!*drop-shadow(12px 12px 7px rgba(0,0,0,0.5));*!*/
/*}*/

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: 18px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.info i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* increase font for awesome-markers */
.awesome-marker i {
    font-size: 18px;
    margin-top: 8px;
}


.leaflet-marker-icon .explosion-icon {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 0, 0.5);
    border-radius: 50%;
    box-shadow: 0px 0px 4px blue;
    transition: all 1s;
}

.flag-icon {
    border-radius: 5px;
    background-image: url(../img/game-icons/tower-flag-white.svg);
    background-size: 100%;
}
/* extra marker color tints */
.flag-icon.red {
    background-image: url(../img/game-icons/tower-flag-red.png);
}
.flag-icon.green {
    background-image: url(../img/game-icons/tower-flag-green.png);
}
.flag-icon.blue {
    background-image: url(../img/game-icons/tower-flag-blue.png);
}
.flag-icon.base {
    background-image: url(../img/game-icons/tower-flag-base.png);
}

.bomb-icon {
    background-image: url(../img/game-icons/pirate-icons.png);
    background-position: -206px -8px;
}

.pok {
    width: 80px;
    height: 80px;
    background-image: url('images/pokesprites.png');
	/*drop-shadow(12px 12px 7px rgba(0,0,0,0.5));*/
}

/*.pok:hover {*/
    /*-webkit-filter: drop-shadow(8px 8px 6px rgba(0.2,0.2,0.2,0.5));*/
/*}*/

.pok .blurrypok {
    -webkit-filter: drop-shadow(8px 8px 6px rgba(0,0,0,0.5)) blur(8px);
}

/*.pok:hover, .pok:active*/
.pok .nearbypok {
    -webkit-filter: drop-shadow(8px 8px 6px rgba(0,0,0,0.5));
}

.pok .pok001 {background-position:     0px     0px;}
.pok .pok002 {background-position:   -80px     0px;}
.pok .pok003 {background-position:  -160px     0px;}
.pok .pok004 {background-position:  -240px     0px;}
.pok .pok005 {background-position:  -320px     0px;}
.pok .pok006 {background-position:  -400px     0px;}
.pok .pok007 {background-position:  -480px     0px;}
.pok .pok008 {background-position:  -560px     0px;}
.pok .pok009 {background-position:  -640px     0px;}
.pok .pok010 {background-position:  -720px     0px;}
.pok .pok011 {background-position:  -800px     0px;}
.pok .pok012 {background-position:  -880px     0px;}
.pok .pok013 {background-position:  -960px     0px;}
.pok .pok014 {background-position: -1040px     0px;}
.pok .pok015 {background-position: -1120px     0px;}
.pok .pok016 {background-position: -1200px     0px;}
.pok .pok017 {background-position: -1280px     0px;}
.pok .pok018 {background-position: -1360px     0px;}
.pok .pok019 {background-position: -1440px     0px;}
.pok .pok020 {background-position: -1520px     0px;}
.pok .pok021 {background-position: -1600px     0px;}
.pok .pok022 {background-position: -1680px     0px;}
.pok .pok023 {background-position: -1760px     0px;}
.pok .pok024 {background-position: -1840px     0px;}
.pok .pok025 {background-position: -1920px     0px;}
.pok .pok026 {background-position: -2000px     0px;}
.pok .pok027 {background-position: -2080px     0px;}
.pok .pok028 {background-position: -2160px     0px;}
.pok .pok029 {background-position:     0px   -80px;}
.pok .pok030 {background-position:   -80px   -80px;}
.pok .pok031 {background-position:  -160px   -80px;}
.pok .pok032 {background-position:  -240px   -80px;}
.pok .pok033 {background-position:  -320px   -80px;}
.pok .pok034 {background-position:  -400px   -80px;}
.pok .pok035 {background-position:  -480px   -80px;}
.pok .pok036 {background-position:  -560px   -80px;}
.pok .pok037 {background-position:  -640px   -80px;}
.pok .pok038 {background-position:  -720px   -80px;}
.pok .pok039 {background-position:  -800px   -80px;}
.pok .pok040 {background-position:  -880px   -80px;}
.pok .pok041 {background-position:  -960px   -80px;}
.pok .pok042 {background-position: -1040px   -80px;}
.pok .pok043 {background-position: -1120px   -80px;}
.pok .pok044 {background-position: -1200px   -80px;}
.pok .pok045 {background-position: -1280px   -80px;}
.pok .pok046 {background-position: -1360px   -80px;}
.pok .pok047 {background-position: -1440px   -80px;}
.pok .pok048 {background-position: -1520px   -80px;}
.pok .pok049 {background-position: -1600px   -80px;}
.pok .pok050 {background-position: -1680px   -80px;}
.pok .pok051 {background-position: -1760px   -80px;}
.pok .pok052 {background-position: -1840px   -80px;}
.pok .pok053 {background-position: -1920px   -80px;}
.pok .pok054 {background-position: -2000px   -80px;}
.pok .pok055 {background-position: -2080px   -80px;}
.pok .pok056 {background-position: -2160px   -80px;}
.pok .pok057 {background-position:     0px  -160px;}
.pok .pok058 {background-position:   -80px  -160px;}
.pok .pok059 {background-position:  -160px  -160px;}
.pok .pok060 {background-position:  -240px  -160px;}
.pok .pok061 {background-position:  -320px  -160px;}
.pok .pok062 {background-position:  -400px  -160px;}
.pok .pok063 {background-position:  -480px  -160px;}
.pok .pok064 {background-position:  -560px  -160px;}
.pok .pok065 {background-position:  -640px  -160px;}
.pok .pok066 {background-position:  -720px  -160px;}
.pok .pok067 {background-position:  -800px  -160px;}
.pok .pok068 {background-position:  -880px  -160px;}
.pok .pok069 {background-position:  -960px  -160px;}
.pok .pok070 {background-position: -1040px  -160px;}
.pok .pok071 {background-position: -1120px  -160px;}
.pok .pok072 {background-position: -1200px  -160px;}
.pok .pok073 {background-position: -1280px  -160px;}
.pok .pok074 {background-position: -1360px  -160px;}
.pok .pok075 {background-position: -1440px  -160px;}
.pok .pok076 {background-position: -1520px  -160px;}
.pok .pok077 {background-position: -1600px  -160px;}
.pok .pok078 {background-position: -1680px  -160px;}
.pok .pok079 {background-position: -1760px  -160px;}
.pok .pok080 {background-position: -1840px  -160px;}
.pok .pok081 {background-position: -1920px  -160px;}
.pok .pok082 {background-position: -2000px  -160px;}
.pok .pok083 {background-position: -2080px  -160px;}
.pok .pok084 {background-position: -2160px  -160px;}
.pok .pok085 {background-position:     0px  -240px;}
.pok .pok086 {background-position:   -80px  -240px;}
.pok .pok087 {background-position:  -160px  -240px;}
.pok .pok088 {background-position:  -240px  -240px;}
.pok .pok089 {background-position:  -320px  -240px;}
.pok .pok090 {background-position:  -400px  -240px;}
.pok .pok091 {background-position:  -480px  -240px;}
.pok .pok092 {background-position:  -560px  -240px;}
.pok .pok093 {background-position:  -640px  -240px;}
.pok .pok094 {background-position:  -720px  -240px;}
.pok .pok095 {background-position:  -800px  -240px;}
.pok .pok096 {background-position:  -880px  -240px;}
.pok .pok097 {background-position:  -960px  -240px;}
.pok .pok098 {background-position: -1040px  -240px;}
.pok .pok099 {background-position: -1120px  -240px;}
.pok .pok100 {background-position: -1200px  -240px;}
.pok .pok101 {background-position: -1280px  -240px;}
.pok .pok102 {background-position: -1360px  -240px;}
.pok .pok103 {background-position: -1440px  -240px;}
.pok .pok104 {background-position: -1520px  -240px;}
.pok .pok105 {background-position: -1600px  -240px;}
.pok .pok106 {background-position: -1680px  -240px;}
.pok .pok107 {background-position: -1760px  -240px;}
.pok .pok108 {background-position: -1840px  -240px;}
.pok .pok109 {background-position: -1920px  -240px;}
.pok .pok110 {background-position: -2000px  -240px;}
.pok .pok111 {background-position: -2080px  -240px;}
.pok .pok112 {background-position: -2160px  -240px;}
.pok .pok113 {background-position:     0px  -320px;}
.pok .pok114 {background-position:   -80px  -320px;}
.pok .pok115 {background-position:  -160px  -320px;}
.pok .pok116 {background-position:  -240px  -320px;}
.pok .pok117 {background-position:  -320px  -320px;}
.pok .pok118 {background-position:  -400px  -320px;}
.pok .pok119 {background-position:  -480px  -320px;}
.pok .pok120 {background-position:  -560px  -320px;}
.pok .pok121 {background-position:  -640px  -320px;}
.pok .pok122 {background-position:  -720px  -320px;}
.pok .pok123 {background-position:  -800px  -320px;}
.pok .pok124 {background-position:  -880px  -320px;}
.pok .pok125 {background-position:  -960px  -320px;}
.pok .pok126 {background-position: -1040px  -320px;}
.pok .pok127 {background-position: -1120px  -320px;}
.pok .pok128 {background-position: -1200px  -320px;}
.pok .pok129 {background-position: -1280px  -320px;}
.pok .pok130 {background-position: -1360px  -320px;}
.pok .pok131 {background-position: -1440px  -320px;}
.pok .pok132 {background-position: -1520px  -320px;}
.pok .pok133 {background-position: -1600px  -320px;}
.pok .pok134 {background-position: -1680px  -320px;}
.pok .pok135 {background-position: -1760px  -320px;}
.pok .pok136 {background-position: -1840px  -320px;}
.pok .pok137 {background-position: -1920px  -320px;}
.pok .pok138 {background-position: -2000px  -320px;}
.pok .pok139 {background-position: -2080px  -320px;}
.pok .pok140 {background-position: -2160px  -320px;}
.pok .pok141 {background-position:     0px  -400px;}
.pok .pok142 {background-position:   -80px  -400px;}
.pok .pok143 {background-position:  -160px  -400px;}
.pok .pok144 {background-position:  -240px  -400px;}
.pok .pok145 {background-position:  -320px  -400px;}
.pok .pok146 {background-position:  -400px  -400px;}
.pok .pok147 {background-position:  -480px  -400px;}
.pok .pok148 {background-position:  -560px  -400px;}
.pok .pok149 {background-position:  -640px  -400px;}
.pok .pok150 {background-position:  -720px  -400px;}
.pok .pok151 {background-position:  -800px  -400px;}
.pok .pok152 {background-position:  -880px  -400px;}
.pok .pok153 {background-position:  -960px  -400px;}
.pok .pok154 {background-position: -1040px  -400px;}
.pok .pok155 {background-position: -1120px  -400px;}
.pok .pok156 {background-position: -1200px  -400px;}
.pok .pok157 {background-position: -1280px  -400px;}
.pok .pok158 {background-position: -1360px  -400px;}
.pok .pok159 {background-position: -1440px  -400px;}
.pok .pok160 {background-position: -1520px  -400px;}
.pok .pok161 {background-position: -1600px  -400px;}
.pok .pok162 {background-position: -1680px  -400px;}
.pok .pok163 {background-position: -1760px  -400px;}
.pok .pok164 {background-position: -1840px  -400px;}
.pok .pok165 {background-position: -1920px  -400px;}
.pok .pok166 {background-position: -2000px  -400px;}
.pok .pok167 {background-position: -2080px  -400px;}
.pok .pok168 {background-position: -2160px  -400px;}
