{% extends "layout.html" %}
{% block body %}
    {# https://imgur.com/a/8PP3C #}
    <div class="img">
        <img src="static/css/images/ezgif-optimized.gif" id="pacmananim"/>
    </div>
    <h2>Welcome to da party!</h2>
    {% if 'username' in session %}
        <p class="bs-component">
            <a href="{{ url_for('show_map') }}" class="btn btn-primary btn-lg">Single Player</a>
            <a href="{{ url_for('logout') }}" class="btn btn-primary btn-lg">Multi Player</a>
        </p>
        <p class="bs-component">
            <a href="{{ url_for('logout') }}" class="btn btn-default btn-lg">Logout</a>
        </p>
    {% else %}
        <p class="bs-component">
            <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">Login</a>
        </p>
    {% endif %}
{% endblock %}