{% extends "layout.html" %}
{% block body %}
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}

<div class="well bs-component">
  <form class="form-horizontal" action="login" method="post">
    <fieldset>
      <legend>Login</legend>
      <div class="form-group">
        <label for="inputName" class="col-lg-2 control-label">Name</label>
        <div class="col-lg-10">
          <input type="text" name="username" class="form-control" id="inputName" placeholder="HungryMelon">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Color</label>
        <div class="col-lg-10">
          <div class="radio">
            <label>
              <input type="radio" name="color" id="optionsRadios1" value="green" checked="">
              Green
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="color" id="optionsRadios2" value="red">
              Red
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="color" id="optionsRadios1" value="blue">
              Blue
            </label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </div>

    </fieldset>
  </form>
</div>
{% endblock %}
