{% extends "layout.html" %}
{% block body %}
  <h2>Pick a name and color</h2>
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
  <form action="login" method="post">
    <dl>
      <dt>Username:
        <dd><input type="text" name="username">
{#      <dt>Password:#}
{#      <dd><input type="password" name="password">#}
      <dt>Color:
        <dd><input type="radio" name="color" value="green" checked>Green
        <dd><input type="radio" name="color" value="red">Red
        <dd><input type="radio" name="color" value="blue">Blue
        <dd><input type="submit" value="Login">
    </dl>
  </form>
{% endblock %}
