<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Pacman Party Map</title>

    <!-- get Leaflet, the map library -->
    <!-- link rel="stylesheet" href="static/css/leaflet.css" /-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css">
    <!-- script src="static/js/leaflet.js"></script>
    
    <!-- get Leaflet easy buttons -->
    <link rel="stylesheet" href="static/css/easy-button.css">

    <!-- get Leaflet awesome markers -->
    <link rel="stylesheet" href="static/css/leaflet.awesome-markers.css">

    <!-- pokemon fantasy -->
    <link rel="stylesheet" href="static/css/sprites.css">
    <style>
        body {
            padding: 0;
            margin: 0;
        }

        html, body, #map {
            height: 100%;
        }
    </style>
</head>
<body>

<div id="map"></div>
<!-- font awesome hell yeah-->
<script src="https://use.fontawesome.com/697ebb27cd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
<script src="static/js/easy-button.js"></script>
<script src="static/js/leaflet.awesome-markers.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
    var flaskData = {{ flaskData|tojson|safe }};
    console.log(flaskData);
    console.log(flaskData.racers[0]);

    // helper to handle objects
    function cloneAsObject(obj) {
        if (obj === null || !(obj instanceof Object)) {
            return obj;
        }
        var temp = (obj instanceof Array) ? [] : {};
        // ReSharper disable once MissingHasOwnPropertyInForeach
        for (var key in obj) {
            temp[key] = cloneAsObject(obj[key]);
        }
        return temp;
    }


    // Support TLS-specific URLs, when appropriate.
    if (window.location.protocol == "https:") {
        var ws_scheme = "wss://";
    } else {
        var ws_scheme = "ws://"
    };

    var socket = io();
    socket.on('connect', function() {
       socket.emit('derp event', {data: 'i am connecting hell yeah'});
       console.log("Websockets ready - connected");
    });
    console.log("Websockets initialized");

    // create map
    var map = L.map('map',
            {
                dragging: false,     // disable dragging the map
                touchZoom: false,    // disable zooming on mobile
                // scrollWheelZoom: false,   // but not on PC
                doubleClickZoom: false,   // zoom on center, wherever you click
            }
    );

    // create tiles with colors
    // L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
    //    maxZoom: 18,
    //    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
    //        '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
    //        'Imagery © <a href="http://mapbox.com">Mapbox</a>',
    //    id: 'mapbox.streets'
    //}).addTo(map);

    // tiles alternative

    L.tileLayer('https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://carto.com/attributions">CARTO</a>',
        maxZoom: 18,
        id: 'carto.light'
    }).addTo(map);
    console.log("Leaflet Map ready");


    //////////////////////
    //  MARKERS

    // Prepare markers to use FontAwesome
    L.AwesomeMarkers.Icon.prototype.options.prefix = 'fa';

    // set default position
    var defaultPos = L.latLng(50.98, 3.755);

    var markers = {};
    // put a marker for each Racer

    for (var i = 0 ; i < flaskData.racers.length; i++) {
        var racer = flaskData.racers[i];
        console.log("Racer - "+racer.name+" "+racer.lat+" "+racer.lng)
        var marker = L.marker([racer.lat, racer.lng], {
{#            icon: L.AwesomeMarkers.icon({icon: racer.icon, markerColor: racer.color}),#}
            icon: L.divIcon({className: "pok001", html:'<div class="pok001"></div>', iconAnchor:[40,40]}),
            title: racer.name,
            draggable: true
        }).on('dragend', function (e) {
            var pos = e.target.getLatLng();
            var title = e.target.options.title;
            if (title == flaskData.username){
                mainRange.setLatLng(pos);
                mainUserTrack.push(pos);
            }
            //storeLocation(title, pos);
            pushMarkerLocation(e.target);
        }).on('click', function (e) {
            e.target.unbindPopup();
            e.target.bindPopup(e.target.options.title).openPopup();
        }).addTo(map);
        markers[racer.name] = marker;
    }

    // bind to main Racer
    var mainUserMarker = markers[flaskData.username];
    mainUserMarker.setLatLng(mainUserMarker.getLatLng()); // put on top
    var mainRange = L.circle(mainUserMarker.getLatLng(), 100).addTo(map);
    mainUserMarker.on('move', function(e) {
        mainRange.setLatLng(e.latlng);
    })
    console.log("Markers ready");


    function pushMainLocation (){
        var data = JSON.stringify({user:flaskData.username, pos: mainUserMarker.getLatLng()});
        console.log('Outbox: '+data);
        socket.emit('move marker', data);
    }

    function pushMarkerLocation (marker){
        var data = JSON.stringify({user:marker.options.title, pos: marker.getLatLng()});
        console.log('Outbox: '+data);
        socket.emit('move marker', data);
    }


    ////////////////////////
    //  BUTTONS

    // add button that searches your location
    L.easyButton({
        states : [
            {
                stateName: 'disabled',
                icon: 'fa-crosshairs',
                onClick: function (control) {
                    console.log("Start using Leaflet Location");
                    map.locate({
                        watch: true,                // keep tracking
                        enableHighAccuracy: true,   // enable GPS
                        setView: true,              // center the viewport
                        maxZoom: 17,                // zoom to 15 max
                        timeout: 30000
                    });
                    control.state('enabled');
                }
            },
            {
                stateName: 'enabled',
                icon: 'fa-times',
                onClick: function (control) {
                    console.log("Stop using Leaflet Location");
                    map.stopLocate();
                    control.state('disabled');
                }
            }
        ]}).addTo(map);

    // add button that recenters
    var nomNodes = {};
    var nomWays = {};
    var plotNomNodeCounter = 0;
    var plotNomNodes = [];
    var plotNomLastPos = mainUserMarker.getLatLng();
    var noms = L.featureGroup([]).addTo(map);
    var nomIcon = L.AwesomeMarkers.icon({icon:'diamond', markerColor:'orange'});

    L.easyButton('fa-coffee', function () {
        var range = 180;
        var pos = mainUserMarker.getLatLng();
        var query = 'https://overpass-api.de/api/interpreter?' +
                'data=[out:json][timeout:10];' +
                '(way(around:'+range+','+pos.lat+','+pos.lng+');>;);' +
                'out;';
        console.log(query);
        $.getJSON(query, function(data) {
            var d = cloneAsObject(data);
            var nodes = d.elements;
            console.log('Coffee got '+ nodes.length + ' nodes');
            for (var i=0 ; i < nodes.length; i++) {
                var node = nodes[i];

                if (node.type == 'node') {
                    var pos = L.latLng([node.lat, node.lon]);
                    nomNodes[node.id] = pos;
                } else if (node.type == 'way'){
                    console.log('Coffee got a way!');
                    var waynodes = cloneAsObject(node['nodes']);
                    var wayarray = [];
                    for (var j=0; j < waynodes.length; j++) {
                        // get the node with this id
                        nodeID = waynodes[j];
                        nd = nomNodes[nodeID];
                        wayarray.push(nd);
                        plotNomNodes.push(nodeID);
                    }
                    nomWays[node.id] = wayarray;
                }
            }
            plotNomLastPos = mainUserMarker.getLatLng();
            console.log('COFFEE end - '+plotNomNodes);
                // most nodes come in order, so this spreads the noms a bit
{#                if (prevPos.distanceTo(newPos) > 50) {#}
{#                    if (i < 10){#}
{#                        console.log('Point distance '+prevPos.distanceTo(newPos)+" - "+newPos);#}
{#                    }#}
{#                    noms.addLayer(L.marker(newPos, {icon:nomIcon}));#}
{#                    prevPos = newPos;#}
{#                }#}
{#            }#}
            //console.log('overpass return '+j);
        });
    }).addTo(map);

    function addNomNode() {
        var nomNodeReady = false;
        // console.log('yawn '+plotNomNodeCounter+" "+plotNomNodes.length);
        while (!nomNodeReady && plotNomNodeCounter < plotNomNodes.length) {
            var nodeID = plotNomNodes[plotNomNodeCounter];
            var pos = nomNodes[nodeID];
            if (pos.distanceTo(plotNomLastPos) > 30) {
                pokIndex = 'pok'+("00"+(noms.getLayers().length+1)).slice(-3);
{#                noms.addLayer(L.marker(pos, {icon: nomIcon}));#}
                noms.addLayer(L.marker(pos,
                        {icon: L.divIcon({
                            className: pokIndex,
{#                            html:'<div class="'+pokIndex+'"></div>', #}
                            html: pokIndex,
                            iconAnchor:[40,40]})}
                ));
                nomNodeReady = true;
                plotNomLastPos = pos;
                console.log('Put NOM at ' + pos+ ' ' + pokIndex);
            } else {
                console.log('Skip NOM at ' + pos);
            }
            plotNomNodeCounter++;
        }
    }

    var nomTimer = setInterval(addNomNode, 300);


    // add button that sends your location
    L.easyButton('fa-star', storeMainLocation).addTo(map);

    // this buttons shows your track
    var mainUserTrack = [];
    var mainUserTrackPolyLine = L.polyline(mainUserMarker.getLatLng()).addTo(map);
    L.easyButton('fa-bolt', function () {
        mainUserTrackPolyLine.setLatLngs(mainUserTrack);
    }).addTo(map);
    console.log("AwesomeButtons ready");

    // send location info to server
    function storeLocation(title, pos) {
        var data = title + ' ' + pos.lat + ' ' + pos.lng;
        console.log("Storing this: " + data);
        $.post('moveit', data,
                function () {
                    console.log('storeLocation succes')
                }, 'application/text');
    }

    function storeMainLocation() {
        storeLocation(flaskData.username, mainUserMarker.getLatLng());
    }



    var prevMainPos = 0;
    var prevTime = 0;
    var pushReady = true;
    /////////////////////
    // prepare leaflet map.locate callback functions
    function onLocationFound(e) {
        //console.log("Found your location hurray");

        var radius = e.accuracy / 2;
        //storeLocation(flaskData.username, e.latlng);
        //mainUserMarker.unbindPopup();
        mainUserMarker.setLatLng(e.latlng);
                //.bindPopup("You are within " + radius + " meters from this point").openPopup();
        mainRange.setRadius(radius);
        if (e.latlng == prevMainPos && e.timestamp < prevTime + 30000){
            return
        } else {
            pushMainLocation();
            prevMainPos = e.latlng;
            prevTime = e.timestamp;
        }
    }

    function onLocationError(e) {
        // console.log("Sorry no location found");
        //map.setView(defaultPos, 13);
        setFreeGeoIP();
        // alert(e.message);
    }

    function setFreeGeoIP() {
        // use jquery ajax call to lookup the geolocation based on your ipaddress
        // max 10k requests per hour
        $.getJSON("https://freegeoip.net/json/",
            // when AJAX call is successful, run the following function
            function (json) {
                console.log("FreeGeoIP - "+json);
                console.log("FreeGeoIP setting mainMarker location");
                var pos = L.latLng(json.latitude, json.longitude);
                // add a marker on the location of the resolved GeoIP
                mainUserMarker.setLatLng(pos).bindPopup("You are somewhere here").openPopup();
                mainRange.setRadius(40);
                pushMarkerLocation(mainUserMarker);
                // update the map
                map.setView(pos, 12);
            }
        );
    }

    // connect location events to callback functions
    map.on('locationfound', onLocationFound);
    map.on('locationerror', onLocationError);

    console.log("Leaflet location callbacks ready.. setView to main marker");
    map.setView(mainUserMarker.getLatLng(), 12);

    {# HOME: 50.9829401,3.7375336, 15 #}
    // now locate the user
{#    map.locate({#}
{#        watch: true,                // keep tracking#}
{#        enableHighAccuracy: true,   // enable GPS#}
{#        setView: true,              // center the viewport#}
{#        maxZoom: 16                 // zoom to 15 max#}
{#    });#}

    socket.on('marker moved', function(json) {
        var data = JSON.parse(json);
        console.log("Inbox received: "+json);
        console.log("Inbox unpack..: "+data.user+" "+L.latLng(data.pos));
        var marker = markers[data.user];
        if (marker) {
            marker.setLatLng(L.latLng(data.pos));
        }
    })

    ////////////////////
    // geolocation    // help function

    if (navigator.geolocation) {
        var options = {
            enableHighAccuracy: true,
            timeout: 15000,
            maximumAge: 200,
        };
{#        navigator.geolocation.watchPosition(#}
{#            function success(pos) {#}
{#                var newTime = pos.timestamp;#}
{#                var crd = pos.coords;#}
{#                // if the player moved, update to the server.#}
{##}
{#                var newCoords = JSON.stringify(cloneAsObject(crd))#}
{#                var data = JSON.stringify(cloneAsObject(pos));#}
{#                // do not compare with data as the timestamp changes.......#}
{##}
{##}
{##}
{#                // fast visual feedback over websockets every 500 ms#}
{#                if ((newCoords != prevCoords) && (newTime > prevTime + 500)){#}
{##}
{#                    //console.log("Lets make a push1 ");#}
{#                    var latLng = L.latLng(crd.latitude, crd.longitude);#}
{#                    //console.log("Lets make a push2 "+latLng);#}
{##}
{#                    mainUserTrack.push(latLng);#}
{#                    //console.log("Lets make a push3");#}
{#                    mainUserMarker.setLatLng(latLng);#}
{#                    //mainRange.setLatLng(latLng)#}
{#                    mainRange.setRadius(crd.accuracy/2);#}
{#                    //console.log("Lets make a push4");#}
{#                    pushMarkerLocation(mainUserMarker);#}
{#                    //console.log("Lets make a push5");#}
{##}
{#                }#}
{#                // store position every 30 sec in the big db#}
{#                if ((newCoords != prevCoords) && (newTime > prevTime + 30000) && pushReady) {#}
{#                    console.log("WatchPos " + crd.latitude + " " + crd.longitude);#}
{#                    console.log("Pushing " + data);#}
{#                    if (!$.isEmptyObject(data)) {#}
{#                        pushReady = false;#}
{#                        $.post('/addpos', data)#}
{#                                .always(function () {#}
{#                                    pushReady = true;#}
{#                                });#}
{#                    }#}
{#                    // update previous coordinates#}
{#                    prevCoords = newCoords;#}
{#                    prevTime = newTime;#}
{#                }#}
{##}
{#            },#}
{#            function error(err) {#}
{#                //#}
{#            }, options#}
{#        );#}
        // uncomment to disable HTML5 tracking
{#        navigator.geolocation.clearWatch();#}
        // console.log("HTML5 Geolocation tracking ready");
    }
</script>
</body>
</html>
