/* the UI*/
.leaflet-bar a, .leaflet-bar button {
    background-color: transparent;
    color: white;
}


/* score board */
.score-board {
    padding: 6px 8px;
    border-radius: 5px;
    color: #FFFBF0;
    background: rgba(122,98,72,0.4);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    min-width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.score-board i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.score-board-panel {
    flex: 1 100%;
    font: 20px/24px Tahoma, Geneva, sans-serif;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #666;
}

.score-board .red{
    background-color: #A12F36;
}
.score-board .green{
    background-color: #00934F;
}
.score-board .blue{
    background-color: #0072B5;
}


/* increase font for awesome-markers */
.awesome-marker i {
    font-size: 18px;
    margin-top: 8px;
}

.ship-icon {
    /*background-image: url(../img/game-icons/drakkar-blue-64.png);*/
    /*background-image: url(../img/pirate6-sm.png);*/
    /*background-position: -0px -80px;*/
    background-image: url(../img/flaticons/pirates/ship.png);
    background-size: 80px 80px;
    margin: 0px 0px;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.bomb-icon {
    background-image: url(../img/flaticons/pirates/bomb.png);
    background-size: 60px 60px;
}
.coin-icon {
    background-image: url(../img/flaticons/pirates/coin.png);
    background-size: 40px 40px;
}
.kraken-icon {
    background-image: url(../img/flaticons/pirates/kraken.png);
    background-size: 120px 120px;
}
.map-icon {
    background-image: url(../img/flaticons/pirates/treasure-map.png);
    background-size: 50px 50px;
}

.rum-icon {
    background-image: url(../img/flaticons/pirates/rum.png);
    background-size: 40px 40px;
}
.skull-icon {
    background-image: url(../img/flaticons/pirates/skull-1.png);
    background-size: 50px 50px;
}

.tortoise-icon {
    background-image: url(../img/flaticons/pirates/tortoise.png);
    background-size: 80px 80px;
}
.treasure-icon {
    background-image: url(../img/flaticons/pirates/treasure.png);
    background-size: 40px 40px;
}
.whale-icon {
    background-image: url(../img/flaticons/pirates/whale.png);
    background-size: 120px 120px;
}




.flag-icon {
    background-image: url(../img/game-icons/tower-flag-white.svg);
    background-size: 100%;
}
/* extra marker color tints */
.flag-icon.red {
    background-image: url(../img/game-icons/tower-flag-red.png);
}
.flag-icon.green {
    background-image: url(../img/game-icons/tower-flag-green.png);
}
.flag-icon.blue {
    background-image: url(../img/game-icons/tower-flag-blue.png);
}
.flag-icon.base {
    background-image: url(../img/game-icons/tower-flag-base.png);
}

/*.anker-icon {   !* 50x50*!*/
    /*background-image: url(../img/game-icons/pirate-icons-sm.png);*/
    /*background-position: -0px -0px;*/
/*}*/

/*.rope-icon {    !* 50x50*!*/
    /*background-image: url(../img/game-icons/pirate-icons-sm.png);*/
    /*background-position: -50px -0px;*/
/*}*/

/*.moneybag-icon {    !* 50x50*!*/
    /*!*background-image: url(../img/game-icons/pirate-icons-sm.png);*!*/
    /*!*background-position: -100px -100px;*!*/
    /*background-image: url(../img/pirate6-sm.png);*/
    /*background-position: -80px -0px;*/
/*}*/


/*.pirate-bomb-icon {    !* 50x50*!*/
    /*background-image: url(../img/game-icons/pirate-icons-sm.png);*/
    /*background-position: -100px -0px;*/
/*}*/

/*.chest-icon {    !* 50x50*!*/
    /*background-image: url(../img/game-icons/pirate-icons-sm.png);*/
    /*background-position: -200px -100px;*/
/*}*/

/*.crate-icon {    !* 50x50*!*/
    /*background-image: url(../img/game-icons/pirate-icons-sm.png);*/
    /*background-position: -250px -100px;*/
/*}*/

/*.wheel-icon {    !* 50x50*!*/
    /*background-image: url(../img/game-icons/pirate-icons-sm.png);*/
    /*background-position: -300px -100px;*/
/*}*/