/* score board */
.score-board {
    padding: 6px 8px;
    color: #FFF;
    font: 14px/16px "Arial Black", Gadget, sans-serif;
    /*background: white;*/
    /*background: rgba(255,255,255,0.8);*/
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border: 16px solid transparent;
    border-image: url(../img/kenney/Colored/blue.png) 30% fill round;
    /*border-radius: 5px;*/
    line-height: 18px;
}

.score-board:hover {
    border-image: url(../img/kenney/Colored/blue_pressed.png) 30% fill round;
}

.score-board h4 {
    margin: 0 0 5px;
    /*color: #777;*/
}

.score-board i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

/* increase font for awesome-markers */
.awesome-marker i {
    font-size: 18px;
    margin-top: 8px;
}

.ship-icon {
    /*background-image: url(../img/game-icons/drakkar-blue-64.png);*/
    /*background-image: url(../img/pirate6-sm.png);*/
    /*background-position: -0px -80px;*/
    background-image: url(../img/flaticons/pirates/ship.png);
    background-size: 80px 80px;
}

.coin-icon {
    background-image: url(../img/flaticons/pirates/coin.png);
    background-size: 40px 40px;
}

.bomb-icon {
    background-image: url(../img/flaticons/pirates/bomb.png);
    background-size: 60px 60px;
}

.flag-icon {
    background-image: url(../img/game-icons/tower-flag-white.svg);
    background-size: 100%;
}
/* extra marker color tints */
.flag-icon.red {
    background-image: url(../img/game-icons/tower-flag-red.png);
}
.flag-icon.green {
    background-image: url(../img/game-icons/tower-flag-green.png);
}
.flag-icon.blue {
    background-image: url(../img/game-icons/tower-flag-blue.png);
}
.flag-icon.base {
    background-image: url(../img/game-icons/tower-flag-base.png);
}

.anker-icon {   /* 50x50*/
    background-image: url(../img/game-icons/pirate-icons-sm.png);
    background-position: -0px -0px;
}

.rope-icon {    /* 50x50*/
    background-image: url(../img/game-icons/pirate-icons-sm.png);
    background-position: -50px -0px;
}

.moneybag-icon {    /* 50x50*/
    /*background-image: url(../img/game-icons/pirate-icons-sm.png);*/
    /*background-position: -100px -100px;*/
    background-image: url(../img/pirate6-sm.png);
    background-position: -80px -0px;
}


.pirate-bomb-icon {    /* 50x50*/
    background-image: url(../img/game-icons/pirate-icons-sm.png);
    background-position: -100px -0px;
}

.chest-icon {    /* 50x50*/
    background-image: url(../img/game-icons/pirate-icons-sm.png);
    background-position: -200px -100px;
}

.crate-icon {    /* 50x50*/
    background-image: url(../img/game-icons/pirate-icons-sm.png);
    background-position: -250px -100px;
}

.wheel-icon {    /* 50x50*/
    background-image: url(../img/game-icons/pirate-icons-sm.png);
    background-position: -300px -100px;
}