html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container .starter-template {
  padding: 40px 15px;
  text-align: center;
}

.container .img {
    max-width: 100%;
    height: auto;
}

.container .radio {
  text-align: left;
  align: left;
}

#map {
  height: 100%;
}

.container .text-muted {
  margin: 10px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #f5f5f5;
}